[data-theme='light'] {
  --bg-color: #fff;
  --font-color: #424242;
  --primary-color: #302ae6;
  --secondary-color: #536390;
  --heading-color: #292922;
  --shadow: rgba(0, 0, 0, 0.12);
  --navbar-text: rgba(0, 0, 0, 0.9);
}

[data-theme='dark'] {
  --bg-color: #161625;
  --font-color: #c2c2da;
  --primary-color: #9a97f3;
  --secondary-color: #8a97bb;
  --heading-color: #818cab;
  --confirm--color: #00897b;
  --warning--color: #30349f;
  --remove--color: #c62828;
  --help--color: #673ab7;
  --shadow: rgba(255, 255, 255, 0.12);
  --navbar-text: rgba(255, 255, 255, 0.55);
  --border-color: #858585;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lha-title {
  font-family: 'Dancing Script', cursive;
  letter-spacing: 0.2em;
}

.lha-title-main {
  font-size: 4.2em;
  text-transform: uppercase;
}

.lha-title-sub-1 {
  font-size: 1.5em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  text-transform: capitalize;
  letter-spacing: 0.05em;
}
.lha-title-sub-loc {
  font-size: 1em;
  text-transform: capitalize;
  letter-spacing: 0.05em;
}

/* Allows us to put a temporary 'in progress' ribbon */
.ribbon {
  margin: 0;
  padding: 0;
  background: rebeccapurple;
  color: white;
  padding: 1em 0;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(30%) translateY(0%) rotate(45deg);
  transform-origin: top left;
  z-index: 100;
}
.ribbon:before,
.ribbon:after {
  content: '';
  position: absolute;
  top: 0;
  margin: 0 -1px; /* tweak */
  width: 100%;
  height: 100%;
  background: rebeccapurple;
}
.ribbon:before {
  right: 100%;
}

.ribbon:after {
  left: 100%;
}

.sb-1 {
  box-shadow: 0px 5px 15px 1px var(--shadow);
}
